.user-panel {
  display: flex;
  justify-content: flex-end;
  height: $user-panel-height;
  background-color: $light-color;
  align-items: center;
  @include separator-bottom;

  button {
    display: flex;
    transition: $animate;
    cursor: pointer;
    background-color: transparent;
    border: none;
    align-items: center;
    height: 100%;
    @include separator-left;

    &:hover {
      background: $paragraph-color;
    }
  }

  span {
    font-family: $paragraph-font;
    color: $component-header-color;
    font-weight: bold;
    margin-right: 15px;
  }

  i {
    color: $component-header-color;
    font-size: 16px;
    margin: 0 15px;
  }
}

// Media queries

@media (max-width: 767px) {
  .user-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    @include separator-top;

    span {
      font-size: 12px;

      &.user-panel__wallet__amount {
        margin: 19px auto;
      }
    }

    i:nth-of-type(2) {
      transform: rotate(180deg);
    }
  }
}