.user-panel {
  display: flex;
  justify-content: flex-end;
  @include separator-bottom;
  height: $user-panel-height;
  background-color: $light-color;

  div {
    @include separator-left;
    display: flex;
  }

  p {
    font-family: $paragraph-font;
    color: $component-header-color;
    font-weight: bold;
    margin-right: 15px;
  }

  i {
    color: $component-header-color;
    line-height: 50px;
    font-size: 16px;
    margin: 0 15px;
  }
}

// Media queries

@media (max-width: 767px) {
  .user-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    @include separator-top;
    width: 100%;

    p {
      font-size: 12px;

      &.user-panel__wallet__amount {
        margin: 19px auto;
      }
    }

    i:nth-of-type(2) {
      transform: rotate(180deg);
    }
  }
}