
/* Colors */
$paragraph-color: #000000;
$component-header-color: #9c9c9c;
$brand-main-color: #ff0000;
$section-title-color: #a6a6a6;
$navigation-bg-color: #191919;
$body-color: #f4f4f1;
$light-color: #ffff;
$button-color: #f58220;
$border-color: rgba($component-header-color, $alpha: 0.3);
$background-elem-color: #f3f3f1;
$active-contact-font-color: #56819f;
$active-contact-color: #04ae00;
$chart-signups-color: #80bfca;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$logo-font: "Dancing Script", Arial;

/* Sizes */
$nav-width: 250px;
$user-panel-height: 50px;

/* Animations */
$animate: 1s all;