.section-wrapper {
  @include margin-dist;
  min-height: 500px;
  width: calc(100% - 280px);
  background-color: $light-color;
  border: 1px solid rgba($component-header-color, $alpha: 0.3);
  box-shadow: 0px 0px 3px 2px rgba($component-header-color, $alpha: 0.3);
  display: none;

  &.active {
    display: block;
  }
}

.section__header {
  @include separator-bottom;
  font-family: $paragraph-font;
  color: $component-header-color;
  font-weight: bold;
  line-height: 50px;
  font-size: 16px;
  margin: 0;
  padding-left: 20px;
  text-transform: uppercase;
}

.elem-container {
  position: relative;
  width: 100%;
  min-height: 150px;
}

.elem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section__date-filter {
  @include separator-bottom;

  .section__date-inputs {
    .date-place {
      display: inline-block;
      border: 1px solid $border-color;
    }

    .date-input {
      width: 150px;
      border: none;
      height: 36px;
      margin: 4px 0;
      padding-left: 15px;

      &:nth-of-type(2) {
        @include separator-left;
        margin-right: 5px;
      }

      &::-webkit-calendar-picker-indicator {
        cursor: pointer;
        opacity: 0.3;
        background-image: url('../../vendor/icons/calendar.svg');
      }

      @media (min-width: 768px) {
        &:nth-of-type(1) {
          &::-webkit-calendar-picker-indicator { 
            background: transparent;
          }
        }
      }
    }
  }
}

.section__btn {
  background-color: $button-color;
  height: 40px;
  border: none;
  color: $light-color;
  border-radius: 5%;
  cursor: pointer;

  i {
    vertical-align: middle;
  }
}

.section__btn--refresh {
  width: 40px;
}

.section__btn--add {
  width: 120px;
  margin: 40px auto;
  line-height: 40px;
  font-size: 20px;
  display: block;
}

.section__stock {
  @include separator-bottom;
  min-height: 600px;

  .section__stock-values {
    height: 80px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    .value-wrapper {
      @include separator-bottom;
      margin-left: 20px;
      flex: 40%;

      h3 {
        position: relative;
      }
            
      span {
        position: absolute;
        right: 0;
        top: 0;
        color: $paragraph-color;
        font-weight: normal;
      }
    }
  }

  .section__stock-chart {
    width: 80%;
    margin: 40px auto;

    h3 {
      margin-left: 50px;
    }

    .chart-legend {
      display: flex;
      width: 100%;

      .chart-legend-item {
        flex: 33%;
        margin: 15px 30px;
        background-color: $background-elem-color;

        div, p {
          display: inline-block;
        }

        .chart-dot {
          width: 15px;
          height: 15px;
          margin: auto 20px;
          border-radius: 50%;
                
        }

        &:nth-of-type(1) {
          .chart-dot {
            background-color: $chart-signups-color;
          }
        }

        &:nth-of-type(2) {
          .chart-dot {
            background-color: $button-color;
          }
        }

        &:nth-of-type(3) {
          .chart-dot {
            background-color: $active-contact-color;
          }

          background-color: $light-color;
        }
      }
    }
        
    .chart-legend-img {
      object-fit: cover;
      width: 100%;
    }
  }


}

.section__links {
  width: 80%;
  min-height: 400px;
  margin: 0 auto;
}

.section__links-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.link-elem {
  @include separator-bottom;
  display: flex;
  padding: 0 15px;
  transition: $animate;

  &:nth-of-type(1) {
    @include separator-top;
  }

  h3 {
    flex: 4;
  }

  a {
    color: $chart-signups-color;
    line-height: 58px;
    flex: 3;
    font-size: 16px;
  }

  button {
    background-color: transparent;
    border: none;
    font-size: 0;
  }

  [class^="icon"] {
    font-size: 12px;
    opacity: 0;
    vertical-align: middle;
    margin-left: 20px;
    transition: $animate;
    color: $component-header-color;
  }

  &:hover {
    background-color: $background-elem-color;

    [class^="icon"] {
      opacity: 1;

      &:hover {
        color: $button-color;
      }
    }
  }

}

.section__statistic {
  min-height: 500px;

  .statistic-table {
    margin: 50px auto 0;
    width: 90%;
    border-collapse: collapse;

    th {
      margin: 0;
      padding: 15px 15px 15px 0;
      color: $component-header-color;
      font-size: 18px;
      text-align: left;
      transition: $animate;

      i {
        opacity: 0;
        transition: $animate;
        margin-left: 10px;
        font-size: 14px;
        color: $paragraph-color;
        cursor: pointer;
      }
    }

    th:hover {
      background-color: $background-elem-color;
      color: $paragraph-color;

      i {
        opacity: 1;
      }
    }

    td, th {
      @include separator-bottom;
      padding-left: 15px;
    }

    tr.table-line {
      transition: $animate;

      &:hover {
        background-color: $background-elem-color;
      }
    }
  }

  .statistic-table--justify {
    table-layout: auto;
  }

  
  .statistic-nav {
    display: flex;
    margin: 0 auto;
    width: 40%;
    height: 40px;

    button {
      background-color: transparent;
      border: none;
      font-size: 20px;
      color: $component-header-color;
      line-height: 30px;
      height: 30px;
      width: 30px;
      cursor: pointer;

      i {
        vertical-align: middle;
      }
    }

    .nav-numbers {
      display: flex;
      padding: 0;
      width: 100%;

      li {
        font-size: 18px;
        line-height: 40px;
        height: 40px;
        flex: 1;
        text-align: center;
        margin: 0;
        color: $active-contact-font-color;

        &:hover {
          color: $component-header-color;
          background-color: $background-elem-color;
        }

        button {
          background-color: transparent;
          border: none;
          font-size: 20px;
          color: $component-header-color;
          line-height: 30px;
          height: 30px;
          width: 30px;
          cursor: pointer;
        }

        button i {
          vertical-align: middle;
        }
      }
    }
  }
}

.section__form {
  @include separator-bottom;
  margin: 40px auto;
  padding-bottom: 40px;

  .form-wrapper {
    width: 40%;
    margin: 0 auto;
    display: flex;

    h3 {
      flex: 30%;
    }

    input {
      flex: 70%;
      border: 1px solid $border-color;
      height: 35px;
      align-self: center;

      &:focus {
        outline: none;
        background-color: $border-color;
        border: 1px solid $active-contact-font-color;
      }
    }
  }
}

// Media queries

@media (max-width: 767px) {
  .section-wrapper {
    width: 100%;
    margin: 15px 0;
  }

  .table-wrapper {
    overflow: scroll;
  }

  .section__header {
    text-align: center;
  }

  .date-place {
    font-size: 12px;

    .date-input {
      width: 100%;
    }
  }

  .section__btn--refresh {
    width: 100%;
  }

  .section__stock-values {
    display: block;
    
    .elem {
      display: block;
      width: 100%;
    }
  }

  .section__stock .section__stock-chart {
    margin: 150px 5px 30px 5px;
    width: 100%;
  }

  .section__stock .section__stock-chart .chart-legend .chart-legend-item {
    margin: 5px 15px;

    .chart-dot {
      margin: 0;
    }
  }

  .section__links {
    width: 100%;

    &-wrapper {
      width: 100%;

      .link-elem {
        padding: 0 10px;

        h3, a:nth-of-type(1) {
          font-size: 12px;
          vertical-align: middle;
          line-height: 58px;
          margin: 0;
        }
      }
    }
  }

  .section__statistic {
    .statistic-table{
      th, p {
        font-size: 12px;
      }

      th {
        padding: 5px;
      }
    }

    .statistic-nav {
      width: 90%;
    }
  }

  #banners .link-elem {
    flex-wrap: wrap;

    h3 {
      flex: 100%;
      line-height: 28px;
    }

    a {
      line-height: 28px;

      &:nth-of-type(1) {
        flex: 70%;
      }
    }
  }

  .section__form .form-wrapper {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section-wrapper {
    width: 100%;
    margin: 15px 0;
  }

  .table-wrapper {
    overflow: scroll;
  }

  .section__header {
    text-align: center;
  }

  .section__stock-values {
    display: block;
    
    .elem {
      display: block;
      width: 100%;
    }
  }

  .section__stock .section__stock-chart {
    margin-top: 150px;
  }

  .section__stock .section__stock-chart .chart-legend {
    justify-content: center;
  }

  .section__stock .section__stock-chart .chart-legend .chart-legend-item {
    padding: 0 15px;
    flex: 130px 0;
    margin: 15px 15px;

    .chart-dot {
      margin: 0;
    }
  }

  .section__links {
    width: 100%;

    &-wrapper {
      width: 80%;
    }
  }

  .section__statistic {
    .statistic-table{
      th, p {
        font-size: 12px;
      }

      th {
        padding: 5px;
      }
    }

    .statistic-nav {
      width: 90%;
    }
  }
}